<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<div class="background">
		<div id="page-header" class="page-header">
		  <h1 class="app-name">Representation <!-- <small>Subtext for header</small> --></h1>
		</div>
		<div>
		    <div class="jumbo-div">
		    	<div class="jumbotron" style="text-align: center">
		    	  <h1 class="jumbo-text">Representation</h1>
		    	  <p>I'm not sure what will go here yet</p>
		    	  <p><a class="btn btn-primary btn-lg" href="/search" role="button">Try it out!</a></p>
		    	</div>
		    		
		    </div>
		</div>
		<div class="footer">
			<div class="container">
				<p>content</p>
			</div>
		</div>
	</div>
</body>
</html>


	<!-- <div ng-app="PoliticsApp">

		<div ng-controller="MainCtrl">
			<nav>
				<ul class="nav nav-pills">
				  <li role="presentation" class="active"><a href="#">Home</a></li>
				  <li role="presentation"><a href="#">Placeholder</a></li>
				  <li role="presentation" ng-click="sendData()">Contributions from Pacs</li>
				</ul>
			</nav>
			<form id="politician-search" class="input-group input-group-lg">
    			<input class="search-bar" type="text" placeholder="Candidates Full Name" ng-model="politicianData.name">
    	 		<input class="submit-button" type="submit" ng-click="getData()">
    		</form> <br>
		</div>

	    <div ng-controller="ContribitionInfoCtrl">

	    	<canvas id="pie" class="chart chart-pie" data="data"
	    	   labels="labels" legend="true" height="90"></canvas> 
	    	 
	    		
	    <!- </div>

	    <div ng-controller="PacInfoCtrl">
	    	<canvas id="doughnut" class="chart chart-doughnut" data="info"
    	   labels="titles" legend="true" height="90"></canvas> <br>
	    	{{ allResults }} <br>
	    </div>
	</div> --> 