Welcome!
<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<div ng-app="PoliticsApp">
		
	    <div ng-controller="GraphCtrl">

	    	<form>
	    		<input type="text" placeholder="Candidates Full Name" ng-model="politicianData.name"><br>
	    	 	<input type="submit" ng-click="getData()">
	    	</form> <br>

	    	<canvas id="pie" class="chart chart-pie" data="data"
	    	   labels="labels"></canvas> <br>

    	   <canvas id="doughnut" class="chart chart-doughnut" data="info"
    	   labels="titles"></canvas> <br>
	    	{{ allResults }} <br>
	    		
	    </div>
	</div>
</body>
</html>