<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<div class="background">
		<header id="page-header" class="page-header">
		  <h1 class="app-name">Representation</h1>
		</header>
	    <div class="title-block">
    	 	<h1 class="title">Representation</h1>
    	  	<h3 class="sub-title">I'm not sure what will go here yet</h3>
    		<p><a class="btn btn-primary btn-lg try-it" href="/search" role="button">Try it out!</a></p>
	    </div>
	</div>
</body>
</html>