/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require welcome
 *= require bootstrap/dist/css/bootstrap.min
 *= require angular-chart.js/dist/angular-chart.css
 *= require_self
 */


 #page-header {
 	background: rgba(97, 44, 99, 0.9);
 	color: white;
 	padding: 25px 15px 15px;
	margin: 0px;
	

 }

 .jumbo-div {
 	margin: 180px;
 }

 .jumbotron {
 	background:rgba(255, 255, 255, 0)
 }

 .jumbo-text {
 	color: black;
 	   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
 	   -webkit-text-stroke-width: .8px;
 	   -webkit-text-stroke-color: white;
 }

 .jumbo-small-text {
 	font-size: 20px;
 	webkit-text-fill-color: black; /* Will override color (regardless of order) */
 	   -webkit-text-stroke-width: 1px;
 	   -webkit-text-stroke-color: black;
 }	

 .background {
 	/*background-image: url();*/
 	background: url('114th_US_Congress_House.png') no-repeat center center fixed; 
 	  -webkit-background-size: cover;
 	  -moz-background-size: cover;
 	  -o-background-size: cover;
 	  background-size: cover;
 }

 .footer {
 	background: rgba(97, 44, 99, 0.9);
 	color: white;
 	padding: 35px 15px 15px;
	margin: 0px;
 }

 #politician-search {
 	margin: 0px auto;
 	padding-top: 10px;
 }

 .search-bar {
 	padding-left: 5px;
 	margin-bottom: 10px;
 	text-align: center;
 }

 .padded-row {
    margin-top: 10px;
}

 .cycle-input {
 	/*margin-left: 10px;
 	padding-left: 5px;*/
 }

 .limit-bar {
 	/*margin-left: 10px;
 	padding-left: 5px;*/
 }

 #searched-politician {
 	text-align: center;
 }

 .submit-button {
 	text-align: center;
 }

.error-message {
	text-align: center;
}

