<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<div id="page-header" class="page-header">
	  <h1 class="app-name">Representation <!-- <small>Subtext for header</small> --></h1>
	</div>
	<div ng-app="PoliticsApp">
	    <div ng-controller="GraphCtrl">
    		<form id="politician-search" class="input-group input-group-lg form-inline">
    			<input class="cycle-input form-control-small form-inline" type="number" placeholder="Election Cycle" ng-model="politicianData.electionCycle">
    			<span>
    					<angucomplete-alt id="ex1" placeholder="Candidates Full Name" maxlength="50" pause="100" selected-object="politicianData.name" local-data="congress113" search-fields="name" title-field="name" minlength="1" input-class="form-control form-control-small form-inline" input-changed="inputChanged" text-no-results="Not Found" ng-class="{'angucomplete-dropdown-visible': showDropdown}"/>
    			</span><br>
    	 		<input class="submit-button" type="submit" ng-click="getData()">
    		</form> <br>

    		  	<h3 class="error-message" ng-cloak>{{errorMessage}}</h3>
    		  <h1 id="searched-politician" ng-cloak> {{searchedPolitician}} </h1> <br>
    		<span us-spinner spinner-key="spinner-1"></span>

	    	<canvas id="pie" class="chart chart-pie" data="data"
	    	   labels="labels" legend="true" height="105"></canvas> 
    	   <canvas id="pie" class="chart chart-pie" data="info"
    	   labels="titles" legend="true" height="105"></canvas> <br>

    	   <canvas id="pie" class="chart chart-pie" data="gender_donation"
    	   labels="gender_name" legend="true" height="105"></canvas> <br>
	    		
	    </div>
	    <div class="footer">
			<div class="container">
				<p>content</p>
			</div>
		</div>
	</div>
</body>
</html>